# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# emacs files
*~
*.bak
#*
.#*

*.so
*.o

*.aux
*.log

#vignette builds
cache/
figure/
.Rproj.user
*_cache/
*_files/

# TeX stuff
*.bbl
*.blg
*.aux
*.out
